* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #2d303a;
    width: 100%;
    height: 89px;
    position: relative;
    z-index: 10;
    box-shadow: 0px 6px 0px 0px rgba(50,55,70,1);
}

.header-content {
    height: 100%;
    width: 955px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 140px;
    height: 100%;
}

.logo_name {
    font-weight: bold;
    font-size: 24.7px;
    font-family: Lato, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 7.5px;
    margin-top: 28px;
    letter-spacing: -0.2px;
}

.logo_name::after {
    content: "*";
    color: #F06C64;
    font-size: 25px;
}
.navbar {
    width: 390px;
    height: 100%;
}
.nav_item:first-child {
    color: #F06C64;
}
.nav_item:first-child::before {
    content: "";
}

.nav_item::before {
    content: ".";
    position: relative;
    bottom: 3px;
    left: -13px;
    font-weight: 700;
    font-size: 19px;
    font-family: Lato, sans-serif;
    color: #494e62;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 12px;
    padding-right: 6px;
    margin-top: 35px;
}

.nav_item {
    font-family: Lato-Heavy, sans-serif;
    font-size: 10.4px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.9px;
}

.nav_item:hover,
.nav_item:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: #a00000;
}


main {
    width: 100%;
}

.carusel {
    position: relative;
    top: 302.5px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #F06C64;
    width: 100%;
    height: 594px;
    box-shadow: 0px 6px 0px 0px rgba(234,103,107,1);
}

.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;

}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
}

.item.active,
.item.next {
    display: block;
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8%;
    cursor: pointer;
}

.control.left:hover,
.control.right:hover {
    opacity: 1;
}

.control.left {
    left: 261px;
    right: auto;    
    opacity: 0.3;
    height: 100%;
}

.control.right {
    left: auto;
    right: 273px;
    opacity: 0.3;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
}

.description {
    display: flex;
    width: 1020px;
    margin: 0 auto;
    justify-content: space-between;
}

.vertical {
    margin-top: 4.4%;
    margin-left: 10.9%;
}

.horizontal {
    margin-top: 14.1%;
    margin-right: 8.5%;
}

.services-block {
    width: 100%;
    height: 500px;
    margin-top: 12px;
    background-color: #F2F2F2;
    box-shadow: inset 0 -6px 0 0 rgba(255,255,255,1);
}

.services_title {
    width: 100%;
    padding-top: 68.3px;
    font-size: 30.5px;
    line-height: 18px;
    color: #666d89;
    font-family: Lato-bold, sans-serif;
    letter-spacing: -0.08px;
    text-align: left;
}

.services_description {
    width: 940px;
    height: 57px;
    margin-top: 27px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.04px;
}

.services-content {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 29px;
}

.cards_item {
    width: 310px;
    height: 100px;
    overflow: hidden;
    margin-top: 20px;
}

.cards_name {
    font-size: 18px;
    margin-top: -1px;
    line-height: 18px;
    color: #666d89;
    letter-spacing: 0px;
    font-family: Lato-bold, sans-serif;
    text-align: left;
}

.cards_fill {
    font-size: 12px;
    line-height: 22px;
    margin-top: 10px;
    letter-spacing: 0.1px;
    color: #767e9e;
    font-family: Lato;
    text-align: justify;
}

.cards_image {
    position: absolute;

}

.cards_fill,
.cards_name {
    margin-left: 80px;
}

.cards_bulb {
    margin-left: 4px;
}
.cards_name_bulb {
    margin-left: 85px;
    letter-spacing: 0.2px;
}
.cards_fill_ideas {
    margin-left: 85px;
    letter-spacing: 0.1px;
}

.cards_heart {
    margin-left: 9px;
}
.cards_name_love {
    margin-left: 91.5px;
}
.cards_fill_love {
    margin-left: 90.5px;
}
.cards_phone {
    margin-top: 3px;
}
.cards_name_responsive {
    margin-left: 81px;
    margin-top: 2px;
    letter-spacing: 0.1px;
}
.cards_fill_responsive {
    margin-left: 80.9px;
}

.card_bubble {
    margin-left: 4px;
    margin-top: 3px;
}
.cards_name_support {
    margin-left: 84px;
    margin-top: 2.1px;
    letter-spacing: 0.5px;
}
.cards_fill_support {
    margin-left: 85.7px;
    margin-top: 9.9px;
}
.card_star {
    margin-left: 9px;
    margin-top: 3px;
}
.cards_name_star {
    margin-left: 91px;
    margin-top: 2.1px;
    letter-spacing: 0.1px;
}
.cards_fill_star {
    margin-left: 90.2px;
    margin-top: 9.9px;
}


@font-face {
    font-family: Lato;
    src: url(./assets/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-Heavy;
    src: url(./assets/fonts/Lato-Heavy.ttf);
}

@font-face {
    font-family: Lato-bold;
    src: url(./assets/fonts/Lato-Bold.ttf);
}