* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
.wraper {
    width: 100%;
    margin: 0 auto;
}

.quote {
    width: 100%;
    background-color: #F06C64;
    height: 654px;
}

.quote_container {
    width: 937px;
    margin: 0 auto;
}

.quote_title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato Black";
    font-weight: 900;
    text-align: left;
}

.quote_description {
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.feedback {
    display: flex;
    justify-content: space-between;
    width: 952px;
}

.feedback_form {
    display: flex;
    justify-content: space-between;
    width: 630px;
}

.contact_information {
    width: 322px;
    float: left;
}

.information_title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato Black";
    font-weight: 900;
    text-align: left;
}
fieldset {
    
}
.informaion_description,
.contact_item,
a {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}
form input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 14px 0 0 0;
    outline: 0;
    width: 620px;
    height: 39px;
    border-radius: 5px;
    background-color: #D6564F;
}
input::-webkit-input-placeholder, button {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
}

footer {
    width: 100%;
    height: 76px;
    background-color: #2D303A;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 932px;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 21px;
    width: 153px;
    justify-content: space-between;
    padding-left: 44px;
}

.social_icon {
    width: 34px;
    height: 34px;
}

.social_icon:hover {
    cursor: pointer;
    opacity: 0.3;
}

.facebook {
    background-image: url(./assets/icons/Facebook.svg);
    color: #666D89;
}

.google {
    background-image: url(./assets/icons/Google.svg);
}

.twitter {
    background-image: url(./assets/icons/Twitter.svg);
}

.linkedin {
    background-image: url(./assets/icons/LinkedIn.svg);
}