* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #2d303a;
    width: 100%;
    height: 11vh;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 6px 0px 0px rgba(50,55,70,1);
}

.wraper {
    max-width: 1020px;
    margin: 0 auto;
}

.header-content {
    height: 100%;
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 140px;
    height: 100%;
}

.logo_name {
    font-size: 24.7px;
    line-height: 7px;
    font-family: "Lato Black", sans-serif;
    text-transform: uppercase;
    margin-left: 7.5px;
    margin-top: 40px;
    letter-spacing: -0.7px;
    color: #F2F2F2;
}

.logo_name::after {
    content: "*";
    color: #F06C64;
    font-size: 25px;
}
.navbar {
    width: 390px;
    height: 100%;
}

.burger_button {
    display: none;
}
.nav_item:first-child::before {
    content: "";
}

.nav_item::before {
    content: ".";
    position: relative;
    bottom: 3px;
    left: -13px;
    font-weight: 700;
    font-size: 19px;
    font-family: "Lato", sans-serif;
    color: #494e62;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 12px;
    padding-right: 6px;
    margin-top: 35px;
}

.nav_item {
    font-family: "Lato-bold", sans-serif;
    font-size: 10.4px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.9px;
}

.nav_item:hover,
.nav_item:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    color: #f48c8f;
    cursor: pointer;
}

.active {
    color: #d6564f;
}

.nav_item:not(.active):hover {
    cursor: pointer;
    color: #F06C64;
}

main {
    width: 100%;
    background-color: #F06C64;
}
/*Slider*/
.carusel {
    position: relative;
    top: 29.2vw;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #F06C64;
    max-width: 1020px;
    height: 58vw;
    max-height: 594px;
    box-shadow: 0px 6px 0px 0px rgba(234,103,107,1);
}


.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 59vw;
}

.slider-item.hidden {
    display: none;
    position: relative;
    margin: 0 auto;
}

.slider-item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    max-height: 600px;
    height: 59vh;
}

.slider-item.next,
.slider-item.active {
    display: block;
}
.next {
    position: absolute;
    top: 0;
    width: 100%;
}
.controls {
    width: 1020px;
}

.control {
    position: absolute;
    top: 0px;
    bottom: 1px;
    max-width: 83px;
    width: 9vw;
    cursor: pointer;
}

.control.left:hover,
.control.right:hover {
    opacity: 1;
}

.control.left {
    right: auto;    
    opacity: 0.3;
    height: 100%;
}

.control.right {
    left: auto;
    margin-right: 1%;
    right: 0;
    opacity: 0.3;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
}

.slider.description {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: justify;
    height: 58.9vw;
    max-width: 100%;
}
.project-name {
    background-image: url(./assets/icons/Slider2.png);
    max-height: 600px;
    max-width: 1020px;
    width: 103vw;
    height: 62vw;
}

.project-name-img {
    width: 100%;
}


/*slider animation*/
.to-left {
    animation-name: left;
}

.from-right {
    animation-name: right;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}
@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.vertical {
    width: 24vw;
    max-height: 483px;
    max-width: 240px;
    height: 48vw;
    margin-top: 5%;
    margin-left: 11%;
    background-image: url(./assets/icons/iPhone\ Vertical.png);
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.horizontal {
    max-height: 240px;
    height: 24vw;
    max-width: 480px;
    width: 48vw;
    margin-top: 17%;
    margin-right: 11%;
    background-image: url(./assets/icons/iPhone\ Horizontal.png);
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
}

.phone_button_vertical {
    position: absolute;
    max-width: 42px;
    max-height: 42px;
    width: 4vw;
    border-radius: 50%;
    margin: 0.6% 0 0 8.6%;
    height: 4vw;
}

.phone_button_horizontal:hover,
.phone_button_vertical:hover {
    cursor: pointer;
    border: 1px solid rgba(50, 55, 70, 0.5);
}

.phone_button_horizontal {
    position: absolute;
    max-width: 42px;
    max-height: 42px;
    width: 4vw;
    border-radius: 50%;
    margin: -11.8% 0 0 0.8%;
    height: 4vw;
}

#vertical-fill {
    margin: 27% 0 0 6%;
    max-width: 188px;
    max-height: 333px;
    width: 19vw;
    height: 33.2vw;
}
#horizontal-fill {
    margin: 3% 0 0 12.6%;
    max-width: 333px;
    max-height: 188px;
    width: 33.2vw;
    height: 18.7vw;
}

.services-block {
    width: 100%;
    padding-bottom: 6%;
    margin-top: 1%;
    background-color: #F2F2F2;
    box-shadow: inset 0 -6px 0 0 rgba(255,255,255,1);
}

.services_title {
    width: 100%;
    padding-top: 68.3px;
    font-size: 30.5px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black", sans-serif;
    letter-spacing: -0.08px;
    text-align: left;
}

.services_description {
    width: 92%;
    height: 57px;
    margin-top: 27px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    overflow: hidden;
    letter-spacing: -0.04px;
}

.services-content {
    position: relative;
    width: 92%;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 29px;
}

.cards_item {
    width: 310px;
    height: 100px;
    overflow: hidden;
    margin-top: 20px;
}

.cards_name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    letter-spacing: 0px;
    font-family: "Lato-bold", sans-serif;
    text-align: left;
    width: 100%;
    margin-left: 24%;
    margin-bottom: 1%;
}

.cards_fill {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    text-align: justify;
    width: 71%;
    margin-left: 24%;
}

.cards_image {
    position: absolute;

}

ul {
    list-style: none;
}

.portfolio {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    background-color: #2D303A;
    box-shadow: inset 0 -6px 0 0 rgba(50, 55, 70, 1);
    padding-bottom: 92px;
}

a.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -79px;
}

.portfolio_container {
    max-width: 1020px;
    margin: 0 auto;
}

.title_portfolio {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.3px;
    padding-top: 69px;
    margin-left: 39.4px;
}

.portfolio_description {
    font-size: 18px;
    width: 68%;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: -0.2px;
    text-align: justify;
    overflow: hidden;
    margin: 13px 0 0 43px;
}

.portfolio_tags {
    margin: 9px 0px 0px 41px;
}

.tag,
.tag:not(.active) {
    cursor: pointer;
    font-size: 12px;
    color: #767e9e;
    border-radius: 4px;
    font-family: "Lato", sans-serif;
    border: 0.7px solid #767e9e;
    background-color: #2D303A;
    padding: 2px 7px 3.7px 7px;
    margin-right: 11.3px;
}

.tag.web {
    margin-left: -5px;
    padding-right: 6.2px;
}

.tag.design {
    margin-left: -6px;
    padding-right: 5px;
}

.tag.artwork {
    margin-left: -5px;
}

.tag.all {
    border-width: 1px;
}

.tag:hover,
.tag.active {
    color: #dedede;
    border-color: #dedede;
}

button:focus {
    outline: none;
}

.portfolio_img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 98%;
    /* margin: 18px 0px 0 40px; */
    border-width: 1px;
}
.imges {
    display: flex;
    justify-content: center;
   /* height: 76.8vh;*/
    width: 92.2vw;
    max-width: 1020px;
    flex-wrap: wrap;
}

.img_item {
    max-height: 180px;
    max-width: 220px;
    height: 60vw;
    width: 115vw;
    margin: 20px 0px 0 15px;
}

.img_item.selected {
    outline: 5px solid #F06C64;
    height: 60vw;
    width: 115vw;
}

.img_1 {
    background-image: url(./assets/icons/img_1.png);
    background-position: -7.6px -11.3px;
}

.img_2 {
    background-image: url(./assets/icons/img_2.png);
    background-position: -82px -43px;
}

.img_3 {
    background-image: url(./assets/icons/img_3.png);
    background-position: -11px -1px;
}

.img_4 {
    background-image: url(./assets/icons/img_4.png);
    background-position: -24px -2px;
}

.img_5 {
    background-image: url(./assets/icons/img_5.png);
    background-position: -10px -16px;
}

.img_6 {
    background-image: url(./assets/icons/img_6.png);
    background-position: -16px -4px;
}

.img_7 {
    background-image: url(./assets/icons/img_7.png);
    background-position: -31px -39px;
}

.img_8 {
    background-image: url(./assets/icons/img_8.png);
    background-position: -24px -32px;
}

.img_9 {
    background-image: url(./assets/icons/img_9.png);
    background-position: 238px 189px;
}

.img_10 {
    background-image: url(./assets/icons/img_10.png);
    background-position: -141px -113px;
}

.img_11 {
    background-image: url(./assets/icons/img_11.png);
    background-position: -144px -175px;
}

.img_12 {
    background-image: url(./assets/icons/img_12.png);
    background-position: -36px -60px;
}

.about_us {
    width: 100%;
    background-color: #F2F2F2;
    box-shadow: inset 0 -6px 0 0 rgba(255, 255, 255, 1)
}

.about_container {
    max-width: 1020px;
    margin: 0 auto;
}

.title_about_us {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.4px;
    padding-top: 68.2px;
    padding-left: 41px;
}

.about_us_description {
    width: 92%;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: -0.1px;
    margin: 27px 0 0 41px;
    text-align: justify
}

.member {

    overflow: hidden;
    padding-bottom: 20px;
}

.member_board {
    display: flex;
    justify-content: center;
    width: 98%;
    margin: 0 auto;
    margin-top: 45px;
}

.member_name {
    font-size: 18px;
    margin: 4% 0 0 0;
    width: 100%;
    line-height: 18px;
    text-overflow: ellipsis;
    color: #666d89;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Lato Black";
    font-weight: 900;
}

.member_photo {
    max-width: 314px;
    overflow: hidden;
    margin-right: 12px;
}

.member_photo img {
    width: 100%;
}

.member_info {
    max-width: 300px;
    width: 95%;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 8px;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 21px;
    width: 153px;
    justify-content: space-between;
}

.social_icon {
    width: 34px;
    height: 34px;
}

.social_icon:hover {
    cursor: pointer;
    opacity: 0.3;
}

.quote {
    width: 100%;
    background-color: #F06C64;
    box-shadow: inset 0 -6px 0 0 rgba(234, 103, 107, 1);
    padding-bottom: 19px;
}

.quote_container {
    width: 92%;
    margin: 0 auto;
}

.quote_title {
    font-size: 30px;
    line-height: 20px;
    color: #f0d8d9;
    font-family: "Lato Black";
    font-weight: 900;
    text-align: left;
    padding: 67px 0 0 0;
    letter-spacing: -0.3px;
}

.quote_description {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 26px 0 0 0;
    letter-spacing: -0.1px;
    text-align: justify;
}

.feedback {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 33px 0 0 0;
}

.feedback_form {
    display: flex;
    justify-content: space-between;
    width: 630px;
}

form input {
    width: 99%;
    height: 38px;
    padding-left: 15px;  
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-top: 15px;
}

form input::placeholder {
    color: #f48c8f;
}

textarea {
    width: 99%;
    height: 195px;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    border-radius: 5px;
    background-color: #d6564f;
    resize: none;
    text-align: justify;
    margin: 17px 0 0 0;
}

.textarea::placeholder {
    color: #f48c8f;
}

.button {
    background-color: rgb(218, 58, 49);
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    border: 0;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 40px;
    font-family: "Lato Black";
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}
#message_block {
    position: absolute;
    width: 100%;
    height: 3528px;
    top: 0;
    z-index: 1;
    left: 0;
    background-color: #0008;
}

#message_block.hidden {
    display: none;
}

.message {
    position: fixed;
    top: 50%;
    left: 25%;
    right: 25%;
    text-align: center;
    z-index: 1;
    color: #dedede;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    border: 1px solid red;
    background-color: #2D303A;
}

.message p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.contacts {
    list-style: none;
    margin: 20px 0 0 0;
}

.contact_item:hover {
    text-decoration: underline;
}
.contact_information {
    width: 33%;
    float: left;
    margin: 14px 0 0 21px;
}

.information_title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato Black";
    font-weight: 900;
    text-align: left;
}

.informaion_description,
.contact_item,
.copyright
 {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: none;
    word-wrap: break-word;
    text-align: justify;
}

.informaion_description {
    margin: 10px 0 0 0;
}

footer {
    width: 100%;
    height: 76px;
    background-color: #2D303A;
}

.copyright {
    margin: 27px 0 0 3px;
    color: #666D89;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 92%;
}

.social_icon {
    width: 34px;
    height: 34px;
}

.social_icon:hover {
    cursor: pointer;
    opacity: 0.3;
}

.adress {
    background-image: url(./assets/icons/contact_location.svg);
    background-repeat: no-repeat;
    background-position: 3px 5px;
}
.phone {
    background-image: url(./assets/icons/contact_phone.svg);
    background-repeat: no-repeat;
    background-position: 0px 3px;
}
li.email {
    background-image: url(./assets/icons/contact_mail.svg);
    background-repeat: no-repeat;
    background-position: 0px 6px;
    margin: 0 0 0 0;
}

.location {
    margin: 0 0 0 23px;
    letter-spacing: -0.1px;
}

.phone_link {
    margin: 0 0 0 23px;
    letter-spacing: -0.2px;
}

.email_link {
    margin: 0 0 0 23px;
    letter-spacing: 0.1px;
}

.facebook {
    background-image: url(./assets/icons/Facebook.svg);
}

.google {
    background-image: url(./assets/icons/Google.svg);
}

.twitter {
    background-image: url(./assets/icons/Twitter.svg);
}

.linkedin {
    background-image: url(./assets/icons/LinkedIn.svg);
}
/*

@media (max-width: 769px) {
    .img_item:nth-child(4n+4) {
        margin-right: 0;
        float: right;
    }
}
*/
@media (min-width: 1020px) {
    .carusel {
        top: 302.5px;;
    }

    .slider.description {
        max-height: 600px;
    }

    .portfolio {
        max-height: 880px;
    }
}

@media (max-width: 1019px) and (min-width: 768px) {

}

@media (min-width: 320px) and (max-width: 767px) {
    *{
        max-width: 767px;
    }

    .feedback {
        flex-direction: column;
    }

    .feedback_form {
        width: 98%;
    }

    .contact_information {
        width: 98%;
    }

    .burger_button {
        display: block;
        position: relative;
        width: 25px;
        height: 20px;
        top: 37px;
        width: 25px;
        height: 20px;
        margin: auto 0;
        animation: 0.5s ease-in;
        margin: -1% 0 0 4%;
    }
    header {
        height: 71px;
    }
   .nav_menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 62vw;
        height: 100%;
        background-color: #2D303A;
        z-index: 3;
        padding: 0 0;
        margin-top: 72px;

    }

    .nav_item {
        align-items: center;
        margin-left: 40px;
    }

    .logo_name {
        margin: 36px 0 0 30vw;
    }

    .member_board {
        flex-direction: column;
        align-items: center;
        max-width: 314px;
        width: 59vw;
    }

    .contact_information {
        margin: 14px 0 0 5px;
    }
    .burger__button {
        display: block;
    }

    .copyright {
        display: none;
    }

    footer.socials {
        margin-left: 35vw;
    }
}

@media (max-width: 319px) {
    * {
        margin-left: 5px;
    }
}