* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #2d303a;
    width: 100%;
    height: 89px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 6px 0px 0px rgba(50,55,70,1);
}

.wraper {
    display: flex;
    width: 1020px;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.header-content {
    height: 100%;
    width: 955px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 140px;
    height: 100%;
}

.logo_name {
    font-size: 24.7px;
    line-height: 7px;
    font-family: "Lato Black", sans-serif;
    text-transform: uppercase;
    margin-left: 7.5px;
    margin-top: 40px;
    letter-spacing: -0.7px;
    color: #F2F2F2;
}

.logo_name::after {
    content: "*";
    color: #F06C64;
    font-size: 25px;
}
.navbar {
    width: 390px;
    height: 100%;
}
.nav_item:first-child::before {
    content: "";
}

.nav_item::before {
    content: ".";
    position: relative;
    bottom: 3px;
    left: -13px;
    font-weight: 700;
    font-size: 19px;
    font-family: "Lato", sans-serif;
    color: #494e62;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 12px;
    padding-right: 6px;
    margin-top: 35px;
}

.nav_item {
    font-family: "Lato-bold", sans-serif;
    font-size: 10.4px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.9px;
}

.nav_item:hover,
.nav_item:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    color: #f48c8f;
    cursor: pointer;
}

.active {
    color: #d6564f;
}

.nav_item:not(.active):hover {
    cursor: pointer;
    color: #F06C64;
}

main {
    width: 100%;
    background-color: #F06C64;
}

.carusel {
    position: relative;
    top: 302.5px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #F06C64;
    width: 1020px;
    height: 594px;
    box-shadow: 0px 6px 0px 0px rgba(234,103,107,1);
}


.slider-container {
    position: relative;
    width: 1020px;
    overflow: hidden;
}

.slider {
    display: none;
    position: relative;
    margin: 0 auto;
}

.slider,
.item.next {
    display: block;
}

.controls {
    width: 1020px;
}

.control {
    position: absolute;
    top: 0px;
    bottom: 1px;
    width: 83px;
    cursor: pointer;
}

.control.left:hover,
.control.right:hover {
    opacity: 1;
}

.control.left {
    right: auto;    
    opacity: 0.3;
    height: 100%;
}

.control.right {
    left: auto;
    right: 15px;
    opacity: 0.3;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
}

.description {
    display: flex;
    width: 1020px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: justify;
    background-color: #F06C64;
    height: 600px;
}

.vertical {
    width: 240px;
    height: 483px;
    margin-top: 53px;
    margin-left: 112px;
    background-image: url(./assets/icons/iPhone\ Vertical.png);
    cursor: pointer;
    user-select: none;
}

.horizontal {
    height: 240px;
    width: 483px;
    margin-top: 174px;
    margin-right: 112px;
    cursor: pointer;
    background-image: url(./assets/icons/iPhone\ Horizontal.png);
    user-select: none;
}

#vertical-fill {
    margin: 65px 0 0 14px;
}
#horizontal-fill {
    margin: 14px 0 0 60px;
}

.services-block {
    width: 100%;
    height: 500px;
    margin-top: 12px;
    background-color: #F2F2F2;
    box-shadow: inset 0 -6px 0 0 rgba(255,255,255,1);
}

.services_title {
    width: 100%;
    padding-top: 68.3px;
    font-size: 30.5px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black", sans-serif;
    letter-spacing: -0.08px;
    text-align: left;
}

.services_description {
    width: 940px;
    height: 57px;
    margin-top: 27px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    overflow: hidden;
    letter-spacing: -0.04px;
}

.services-content {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 29px;
}

.cards_item {
    width: 310px;
    height: 100px;
    overflow: hidden;
    margin-top: 20px;
}

.cards_name {
    font-size: 18px;
    margin-top: -1px;
    line-height: 18px;
    color: #666d89;
    letter-spacing: 0px;
    font-family: "Lato-bold", sans-serif;
    text-align: left;
}

.cards_fill {
    font-size: 12px;
    line-height: 22px;
    margin-top: 10px;
    letter-spacing: 0.1px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    text-align: justify;
}

.cards_image {
    position: absolute;

}

.cards_fill,
.cards_name {
    margin-left: 80px;
}

.cards_bulb {
    margin-left: 4px;
}
.cards_name_bulb {
    margin-left: 85px;
    letter-spacing: 0.2px;
}
.cards_fill_ideas {
    margin-left: 85px;
    letter-spacing: 0.1px;
}

.cards_heart {
    margin-left: 9px;
}
.cards_name_love {
    margin-left: 91.5px;
}
.cards_fill_love {
    margin-left: 90.5px;
}
.cards_phone {
    margin-top: 3px;
}
.cards_name_responsive {
    margin-left: 81px;
    margin-top: 2px;
    letter-spacing: 0.1px;
}
.cards_fill_responsive {
    margin-left: 80.9px;
}

.card_bubble {
    margin-left: 4px;
    margin-top: 3px;
}
.cards_name_support {
    margin-left: 84px;
    margin-top: 2.1px;
    letter-spacing: 0.5px;
}
.cards_fill_support {
    margin-left: 85.7px;
    margin-top: 9.9px;
}
.card_star {
    margin-left: 9px;
    margin-top: 3px;
}
.cards_name_star {
    margin-left: 91px;
    margin-top: 2.1px;
    letter-spacing: 0.1px;
}
.cards_fill_star {
    margin-left: 90.2px;
    margin-top: 9.9px;
}

ul {
    list-style: none;
}

.wraper {
    width: 100%;
    margin: 0 auto;
}

.portfolio {
    width: 100%;
    height: 869px;
    background-color: #2D303A;
    box-shadow: inset 0 -6px 0 0 rgba(50, 55, 70, 1);
}

a.anchor {
    display: block;
    position: relative;
    top: -79px;
    visibility: hidden;
}

.portfolio_container {
    width: 1020px;
    margin: 0 auto;
}

.title_portfolio {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.3px;
    padding-top: 69px;
    margin-left: 39.4px;
}

.portfolio_description {
    font-size: 18px;
    width: 690px;
    height: 31px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: -0.2px;
    text-align: justify;
    overflow: hidden;
    margin: 27px 0 0 40px;
}

.portfolio_tags {
    margin: 9px 0px 0px 41px;
}

.tag,
.tag:not(.active) {
    cursor: pointer;
    font-size: 12px;
    color: #767e9e;
    border-radius: 4px;
    font-family: "Lato", sans-serif;
    border: 0.7px solid #767e9e;
    background-color: #2D303A;
    padding: 2px 7px 3.7px 7px;
    margin-right: 11.3px;
}

.tag.web {
    margin-left: -5px;
    padding-right: 6.2px;
}

.tag.design {
    margin-left: -6px;
    padding-right: 5px;
}

.tag.artwork {
    margin-left: -5px;
}

.tag.all {
    border-width: 1px;
}

.tag:hover,
.tag.active {
    color: #dedede;
    border-color: #dedede;
}

button:focus {
    outline: none;
}

.portfolio_img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 601px;
    width: 940px;
    margin: 18px 0px 0 40px;
    border-width: 1px;
}
.imges {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 621px;
    width: 940px;
    flex-wrap: wrap;
}

.img_item {
    width: 220px;
    height: 187px;
}

.img_item.selected {
    border: 5px solid #F06C64;
    width: 210px;
    height: 177px;
}

.img_1 {
    background-image: url(./assets/icons/img_1.png);
    background-position: -7.6px -11.3px;
}

.img_2 {
    background-image: url(./assets/icons/img_2.png);
    background-position: -82px -43px;
}

.img_3 {
    background-image: url(./assets/icons/img_3.png);
    background-position: -11px -1px;
}

.img_4 {
    background-image: url(./assets/icons/img_4.png);
    background-position: -24px -2px;
}

.img_5 {
    background-image: url(./assets/icons/img_5.png);
    background-position: -10px -16px;
}

.img_6 {
    background-image: url(./assets/icons/img_6.png);
    background-position: -16px -4px;
}

.img_7 {
    background-image: url(./assets/icons/img_7.png);
    background-position: -31px -39px;
}

.img_8 {
    background-image: url(./assets/icons/img_8.png);
    background-position: -24px -32px;
}

.img_9 {
    background-image: url(./assets/icons/img_9.png);
    background-position: 238px 189px;
}

.img_10 {
    background-image: url(./assets/icons/img_10.png);
    background-position: -141px -113px;
}

.img_11 {
    background-image: url(./assets/icons/img_11.png);
    background-position: -144px -175px;
}

.img_12 {
    background-image: url(./assets/icons/img_12.png);
    background-position: -36px -60px;
}

.about_us {
    width: 100%;
    background-color: #F2F2F2;
    height: 734px;
    box-shadow: inset 0 -6px 0 0 rgba(255, 255, 255, 1)
}

.about_container {
    width: 1020px;
    margin: 0 auto;
}

.title_about_us {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.4px;
    padding-top: 68.2px;
    padding-left: 41px;
}

.about_us_description {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: -0.1px;
    margin: 27px 0 0 41px;
    text-align: justify
}

.member {
    width: 300px;
    height: 515px;
    overflow: hidden;
}

.member_board {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 940px;
    margin: 0 auto;
    margin-top: 45px;
}

.member_name {
    font-size: 18px;
    margin: 17px 0 0 0;
    width: 300px;
    line-height: 18px;
    text-overflow: ellipsis;
    color: #666d89;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Lato Black";
    font-weight: 900;
    height: 20px;
}

.member_photo {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.center  {
    width: 302px;
}

.member_info {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 8px;
}

.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 21px;
    width: 153px;
    justify-content: space-between;
}

.social_icon {
    width: 34px;
    height: 34px;
}

.social_icon:hover {
    cursor: pointer;
    opacity: 0.3;
}

.quote {
    width: 100%;
    background-color: #F06C64;
    height: 654px;
    box-shadow: inset 0 -6px 0 0 rgba(234, 103, 107, 1);
}

.quote_container {
    width: 940px;
    margin: 0 auto;
}

.quote_title {
    font-size: 30px;
    line-height: 20px;
    color: #f0d8d9;
    font-family: "Lato Black";
    font-weight: 900;
    text-align: left;
    padding: 67px 0 0 0;
    letter-spacing: -0.3px;
}

.quote_description {
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 26px 0 0 0;
    letter-spacing: -0.1px;
    text-align: justify;
}

.feedback {
    display: flex;
    justify-content: space-between;
    width: 952px;
    margin: 33px 0 0 0;
}

.feedback_form {
    display: flex;
    justify-content: space-between;
    width: 630px;
}

form input {
    width: 604px;
    height: 38px;
    padding-left: 15px;  
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-top: 15px;
}

form input::placeholder {
    color: #f48c8f;
}

textarea {
    width: 604px;
    height: 195px;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    border-radius: 5px;
    background-color: #d6564f;
    resize: none;
    text-align: justify;
    margin: 17px 0 0 0;
}

.textarea::placeholder {
    color: #f48c8f;
}

.button {
    background-color: rgb(218, 58, 49);
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    border: 0;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 40px;
    font-family: "Lato Black";
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}
#message_block {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0008;
}

#message_block.hidden {
    display: none;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px solid #d6564f;
    text-align: center;
    z-index: 1;
}

.button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.contacts {
    list-style: none;
    margin: 20px 0 0 0;
}

.contact_item:hover {
    text-decoration: underline;
}
.contact_information {
    width: 322px;
    float: left;
    margin: 14px 0 0 21px;
}

.information_title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato Black";
    font-weight: 900;
    text-align: left;
}

.informaion_description,
.contact_item,
.copyright
 {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: none;
    word-wrap: break-word;
    text-align: justify;
}

.informaion_description {
    margin: 10px 0 0 0;
}

footer {
    width: 100%;
    height: 76px;
    background-color: #2D303A;
}

.copyright {
    margin: 27px 0 0 3px;
    color: #666D89;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
}

.social_icon {
    width: 34px;
    height: 34px;
}

.social_icon:hover {
    cursor: pointer;
    opacity: 0.3;
}

.adress {
    background-image: url(./assets/icons/contact_location.svg);
    background-repeat: no-repeat;
    background-position: 3px 5px;
}
.phone {
    background-image: url(./assets/icons/contact_phone.svg);
    background-repeat: no-repeat;
    background-position: 0px 3px;
}
li.email {
    background-image: url(./assets/icons/contact_mail.svg);
    background-repeat: no-repeat;
    background-position: 0px 6px;
    margin: 0 0 0 0;
}

.location {
    margin: 0 0 0 23px;
    letter-spacing: -0.1px;
}

.phone_link {
    margin: 0 0 0 23px;
    letter-spacing: -0.2px;
}

.email_link {
    margin: 0 0 0 23px;
    letter-spacing: 0.1px;
}

.facebook {
    background-image: url(./assets/icons/Facebook.svg);
}

.google {
    background-image: url(./assets/icons/Google.svg);
}

.twitter {
    background-image: url(./assets/icons/Twitter.svg);
}

.linkedin {
    background-image: url(./assets/icons/LinkedIn.svg);
}

